.task-due-date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  gap: 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.4rem 0.3rem;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.task-due-date-container:hover {
  background-color: rgba(83, 83, 83, 0.1);
  transition: background-color 0.3s ease;
}
