.workspace-selector-wrapper {
  position: relative;
  display: inline-block;
}

.workspace-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.25rem 0;
  cursor: pointer;
}

.workspace-selector .workspace-logo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
}

.workspace-selector .workspace-name {
  font-size: 0.875rem;
  font-weight: 600;
}

.workspace-selector .workspace-access {
  font-size: 0.75rem;
  color: #272727;
  background-color: #f0f0f0;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
}

.workspace-selector .workspace-arrow {
  width: 1rem;
  height: 1rem;
}

.workspace-dropdown__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.workspace-dropdown {
  position: absolute;
  top: 100%; /* directly below the selector */
  left: 0;
  width: 15rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  z-index: 20;
  padding: 0.5rem;
  background: linear-gradient(
    to bottom left,
    rgba(246, 252, 255, 0.99) 0%,
    rgba(255, 255, 255, 0.99) 40%,
    rgba(255, 255, 255, 0.99) 60%,
    rgba(255, 246, 252, 0.99) 100%
  );
  backdrop-filter: blur(6px);
}

.workspace-dropdown .workspace-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0.5rem 0;
  border: 1px dashed rgba(145 158 171 / 20%);
  border-width: 0px 0px thin;
}

.workspace-create {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.workspace-create:hover {
  background-color: #f0f0f08c;
}

.workspace-plus-sign {
  width: 1.1rem;
  height: 1.1rem;
}

.workspace-create-text {
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 500;
  color: #1c252e;
  border: none;
  background-color: transparent;
  justify-content: start;
}
