.task-assignees-container {
  display: flex;
  gap: 0.5rem;
}

.add-assignee-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #7c7c7c;
  font-weight: 600;
  background-color: #d3d3d3;
  border: 1px dashed #a9a9a9;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.add-assignee-container:hover {
  opacity: 0.8;
}

.add-assignee-container:active {
  opacity: 1;
  transform: scale(0.95);
}
