.react-kanban-board {
  padding: 0.3rem;
  min-height: 100%;
  min-width: 100%;
  height: fit-content;
  scrollbar-width: auto;
  scrollbar-color: #bdbdbd #f5f5f5;
}

.react-kanban-column {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f4f6f8;
  margin: 1rem;
  max-width: 20rem;
}

.react-kanban-column input:focus {
  outline: none;
}
