.profile__switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.profile__switch__icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #d3d3d3;
}

.profile__switch__icon--new {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #7c7c7c;
  font-weight: 600;
  background-color: #d3d3d3;
  border: 1px dashed #a9a9a9;
  opacity: 0.7;
}

.profile__switch__icon--new:hover {
  opacity: 0.8;
}

.profile__switch__icon--new:active {
  opacity: 1;
  transform: scale(0.95);
}
