.react-kanban-column-header {
  padding-bottom: 10px;
  font-weight: bold;
}
.react-kanban-column-header input:focus {
  outline: none;
}

.react-kanban-column-header__spacer {
  display: flex;
  justify-content: space-between;
}

.react-kanban-column-header__button {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.react-kanban-column-header__button:hover,
.react-kanban-column-header__button:focus,
.react-kanban-column-header__button:active {
  background-color: #e6e6e6;
}

.react-kanban-column-adder-button {
  border: 2px dashed #eee;
  height: 132px;
  margin: 5px;
}
.react-kanban-column-adder-button:hover {
  cursor: pointer;
}

.kanban-content.fixed-column .react-kanban-board {
  overflow-y: auto;
}

.kanban-add-column-button {
  min-width: 15rem;
  height: 3rem;
  border: 1px solid #ccc;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;
}
.kanban-add-column-button:hover {
  background-color: #f0f0f08c;
}

.kanban-new-column-input {
  min-width: 15rem;
  height: 3rem;
  border: 1px solid #ccc;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0 1rem;
}
.kanban-new-column-input:focus {
  outline: none;
  border: 2px solid #999;
}

.kanban-column-header {
  display: flex;
  justify-content: space-between;
  margin: 0 5px 10px 5px;
  align-items: center;
}

.kanban-column-counter {
  font-size: 0.75rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  color: #555;
  font-weight: 700;
  margin: 0 0.4rem 0 0;
  padding: 0.2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #4949492a;
}

.kanban-column-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1c252e;
  width: fit-content;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.kanban-column-title-input {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1c252e;
  width: fit-content;
  max-width: 8rem;
  border: none;
  justify-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.kanban-action-buttons {
  display: flex;
  align-items: center;
}

.kanban-add-card-button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
}

.kanban-add-card-button:hover {
  background-color: #ccc;
}

.kanban-add-card-button img {
  height: 1rem;
  width: 1rem;
}

.kanban-new-card-input {
  border-radius: 0.8rem;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 7px;
  border: none;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}
