.layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  max-width: 100vw;
}

.layout-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: var(--sidebar-width);
  transition: padding-left 0.3s ease;
}

.layout-main.expanded {
  padding-left: var(--sidebar-collapsed-width);
}

.layout-content {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: auto !important;
  -ms-overflow-style: auto !important;
  scrollbar-color: #888 #f1f1f1 !important;
}

.layout-content::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

.layout-content::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 8px !important;
}

.layout-content::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 8px !important;
}

.layout-content::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}
