.layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  max-width: 100vw;
  background-color: red;
}

.layout-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: green;
  padding-left: var(--sidebar-width);
}

.layout-main.expanded {
  padding-left: var(--sidebar-collapsed-width);
}
