.task-priority-container {
  display: flex;
  gap: 0.5rem;
}

.task-priority-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--kanban-text-primary);
  transition: background-color 0.3s ease, font-weight 0.3s ease;
  gap: 0.3rem;
  border: var(--kanban-priority-button);
}
.task-priority-button.active {
  outline: var(--kanban-priority-button-active);
}

.task-priority-button img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}
