.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: relative;
  isolation: isolate;
  border: 1px solid #25baff;
  cursor: pointer;
}

.profile__img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
