.sidebar-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #333;
  width: 100%;
  padding: 0.25rem 0.5rem 0.25rem 0.75rem;
  line-height: 2rem;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-link img {
  width: 1rem;
  height: 1rem;
}

.sidebar-link:hover {
  background-color: #f0f0f0;
}

.sidebar-link.is-active {
  background-color: rgba(87, 201, 87, 0.171);
  font-weight: 600;
  position: relative;
}

.sidebar.collapsed .sidebar-link {
  justify-content: center;
  padding-left: 0.25rem;
}

.sidebar.collapsed .sidebar-link span {
  display: none;
}
