.kanban-taskbar-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 10000;
  width: 0;
}

.kanban-taskbar-backdrop.open {
  width: 100%;
  height: 100vh;
}

.kanban-taskbar {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 20rem;
  height: 100vh;
  background: white;
  box-shadow: 0px 0px 50px var(--kanban-taskbar-shadow-light);
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--kanban-taskbar-bg);
  backdrop-filter: blur(8px);
  overflow: hidden;
  z-index: 10000;
}

.kanban-taskbar.open {
  visibility: visible;
  transform: translateX(0);
  box-shadow: 0px 0px 50px var(--kanban-taskbar-shadow-dark);
}

.kanban-taskbar-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom left,
    hsla(197, 100%, 50%, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.2) 60%,
    hsla(317, 88%, 87%, 0.2) 100%
  );
}

.kanban-taskbar-header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid var(--kanban-border-medium);
  gap: 0.3rem;
  padding: 0 1rem;
}

.kanban-taskbar-body {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem 1.25rem;
  height: 100%;
}
