.kanban-column-options-container {
  position: relative;
}

.kanban-options-button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
}

.kanban-options-button:hover {
  background-color: #ccc;
}

.kanban-options-button img {
  height: 1rem;
  width: 1rem;
}

.kanban-column-options {
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  z-index: 20;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom left,
    rgba(246, 252, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.9) 40%,
    rgba(255, 255, 255, 0.9) 60%,
    rgba(255, 246, 252, 0.9) 100%
  );
  backdrop-filter: blur(6px);
}

.kanban-column-options button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-align: left;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.kanban-column-options button:hover {
  background-color: #f0f0f08c;
}

.kanban-column-options button img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
