.kanban-column-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-black);
  width: fit-content;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.kanban-column-title-input {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-black);
  width: fit-content;
  max-width: 8rem;
  border: none;
  justify-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}
