.card-title-container {
  width: 100%;
}

.card-title-input {
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  outline: none;
  background-color: transparent;
  padding: 0.2rem 0.4rem;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  transition: border 0.2s ease, background-color 0.2s ease;
}

.card-title-input.focused {
  border: 2px solid var(--kanban-border-medium);
  background-color: var(--kanban-card-bg);
  transition: border 0.2s ease, background-color 0.2s ease;
}
