.kanban-taskbar-tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid var(--kanban-bg-hover-dark);
  background-color: var(--kanban-tab-bg);
}

.kanban-taskbar-tab {
  flex: 1;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--kanban-text-secondary);
  transition: color 0.2s ease, border-bottom 0.2s ease;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
}
.kanban-taskbar-tab.active {
  background-color: white;
  color: black;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px var(--kanban-tab-active-shadow);
}
