.kanban-card-status {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--kanban-text-tertiary);
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  background-color: var(--kanban-bg-hover);
  border-radius: 0.5rem;
  position: relative;
}

.kanban-card-status img {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.3rem;
}

.kanban-card-status-dropdown {
  position: absolute;
  display: flex;
  top: 2.2rem;
  left: 0;
  background-color: white;
  z-index: 20;
  border-radius: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  background: linear-gradient(
    to bottom left,
    rgba(246, 252, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.9) 40%,
    rgba(255, 255, 255, 0.9) 60%,
    rgba(255, 246, 252, 0.9) 100%
  );
  backdrop-filter: blur(6px);
  min-width: 8rem;
  border: 1px solid var(--kanban-border-medium);
  visibility: hidden;
  height: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-5px);
  transition: opacity 0.25s ease, max-height 0.25s ease, transform 0.25s ease;
}

.kanban-card-status-dropdown.show {
  visibility: visible;
  height: fit-content;
  opacity: 1;
  max-height: 10rem;
  transform: translateY(0);
  transition: opacity 0.25s ease, max-height 0.25s ease, transform 0.25s ease;
}

.kanban-card-status-option {
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.kanban-card-status-option:hover {
  background-color: var(--kanban-bg-hover-solid);
}
