.logout-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--font-red-color);
  background-color: var(--bg-red-color);
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.logout-button:hover {
  background-color: var(--bg-red-hover-color);
}
