.task-overview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.task-field {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

h4 {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--kanban-text-primary);
  min-width: 6rem;
  overflow: hidden;
}

img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
