.task-overview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.task-field {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  min-height: 2.5rem;
}

.task-overview-container h4 {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--kanban-text-primary);
  min-width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5rem;
  align-self: flex-start;
}

.task-overview-container img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
