.profile-sidebar__backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  width: 0;
}

.profile-sidebar__backdrop.show {
  width: 100%;
}

.profile-sidebar__container {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 20rem;
  height: 100%;
  background: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.082);
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-sidebar__container.show {
  visibility: visible;
  transform: translateX(0);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.22);
}

.profile-sidebar__close {
  background: none;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.profile-sidebar__close:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.profile-sidebar__close img {
  width: 0.8rem;
  height: 0.8rem;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  position: relative;
}

.profile__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  outline: 3px solid #25baff;
  outline-offset: 2px;
  margin: 5px;
}

.profile__details {
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.profile__name {
  font-size: 1rem;
  color: #1c252e;
  font-weight: 600;
}

.profile__email {
  font-size: 0.875rem;
  word-wrap: break-word;
  color: rgb(88, 88, 88);
  font-weight: 400;
}

.profile__switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.profile__switch__icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #d3d3d3;
}

.profile__switch__icon--new {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #7c7c7c;
  font-weight: 600;
  background-color: #d3d3d3;
  opacity: 0.7;
}

.profile__switch__icon--new:hover {
  opacity: 0.8;
}

.profile__switch__icon--new:active {
  opacity: 1;
  transform: scale(0.95);
}
