.react-kanban-card {
  border-radius: 0.8rem;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.react-kanban-card-skeleton,
.react-kanban-card-adder-form,
.react-kanban-card {
  box-sizing: border-box;
  max-width: 250px;
  min-width: 250px;
}

.react-kanban-card--dragging {
  box-shadow: 2px 2px grey;
}

.react-kanban-card__description {
  padding-top: 10px;
}

.react-kanban-card__title {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.react-kanban-card-adder-form {
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 7px;
}
.react-kanban-card-adder-form input {
  border: 0px;
  font-family: inherit;
  font-size: inherit;
}

.react-kanban-card-adder-button {
  width: 100%;
  margin-top: 5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.3s;
  border-radius: 3px;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.react-kanban-card-adder-button:hover {
  background-color: #ccc;
}

.react-kanban-card-adder-form__title {
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}
.react-kanban-card-adder-form__title:focus {
  outline: none;
}

.react-kanban-card-adder-form__description {
  width: 100%;
  margin-top: 10px;
}
.react-kanban-card-adder-form__description:focus {
  outline: none;
}

.react-kanban-card-adder-form__button {
  background-color: #eee;
  border: none;
  padding: 5px;
  width: 45%;
  margin-top: 5px;
  border-radius: 3px;
}
.react-kanban-card-adder-form__button:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #ccc;
}

.kanban-card-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.kanban-card-priority-container {
  display: flex;
  justify-content: flex-end;
}

.kanban-card-priority {
  width: 1rem;
  height: 1rem;
}

.kanban-card-title {
  font-size: 0.8rem;
  font-weight: 600;
}

.kanban-card-other {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: flex-start;
}

.kanban-card-other img {
  width: 1rem;
  height: 1rem;
}

.kanban-card-other span {
  font-size: 0.8rem;
  color: #555;
  font-weight: 500;
}

.kanban-card-attachments,
.kanban-card-comments {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  min-width: 1.5rem;
}

.kanban-card-other .kanban-card-assignees {
  display: flex;
  gap: 0.3rem;
}
