@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-weight: var(--font-regular);
}

html,
body {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root {
  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  --sidebar-width: 18.75rem;
  --sidebar-collapsed-width: 5.5rem;
  --navbar-height: 5rem;
  --kanban-header-height: 4rem;
  --text-black: #1c252e;

  --font-red-color: #b71d18;
  --bg-red-color: #ff563029;
  --bg-red-hover-color: #ff56304d;

  --border: 1px solid #ccc;
  --border-color: #ccc;

  --white-active: #e6e6e6;

  --bg-gray: #f0f0f0;
  --bg-gray-hover: #e0e0e0;
  --bg-white-active: #ccc;

  --border-gray: 1px solid #ccc;
  --border-gray-active: #bdbdbd;
  /* Kanban component-specific variables */
  --kanban-dashed-border-color: #eee;
  --kanban-add-column-hover-bg: #f0f0f08c;
  --kanban-input-focus-border-color: #999;
  --kanban-counter-text-color: #555;
  --kanban-counter-bg: #4949492a;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 0px;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
