.action-buttons {
  display: flex;
  justify-content: center;
}

.action-buttons button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  transition: background-color 0.2s ease, filter 0.2s ease;
}

.action-buttons button:hover {
  filter: brightness(0.8);
  background-color: var(--kanban-action-hover);
  transition: background-color 0.2s ease, filter 0.2s ease;
}

.like-button.liked:hover {
  background-color: var(--kanban-like-hover);
}

.action-buttons img {
  width: 1.2rem;
  height: 1.2rem;
}
