.task-description-textarea {
  font-size: 0.7rem;
  font-weight: 400;
  width: 100%;
  outline: none;
  background-color: transparent;
  padding: 0.5rem;
  margin: 0;
  resize: none;
  border: 2px solid var(--kanban-border-light);
  border-radius: 0.5rem;
  transition: border 0.2s ease;
  font-family: inherit;
  min-height: 10rem;
  overflow: hidden;
  line-height: 1;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  align-items: center;
  margin: 0;
}

.task-description-textarea.focused {
  border: 2px solid black;
}
