.sidebar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.logo-title {
  font-size: 2rem;
  color: #333;
}
