.contacts-search-container {
  padding: 0 0 1.5rem;
}

.contacts-search-container .search-bar {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--kanban-border-light);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-family: inherit;
  color: var(--kanban-text-primary);
  background-color: var(--kanban-input-bg);
  transition: border-color 0.2s ease;
  height: fit-content;
}

.contacts-search-container .search-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.contacts-search-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  height: 1.5rem;
  width: 100%;
  flex: 1 1 auto;
}
