.workspace-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.workspace-option:hover {
  background-color: #f0f0f0;
}

.workspace-logo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}

.workspace-name {
  font-size: 1rem;
  color: #333;
  width: 100%;
}

.workspace-access {
  font-size: 0.7rem;
  color: #1c252e;
  padding: 0.3rem;
  background-color: #919eab29;
  border-radius: 0.3rem;
  font-weight: 500;
}

.workspace-access.pro {
  background-color: #00b8d929;
  color: #006c9c;
}
