.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: auto;
  z-index: 1001;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  min-height: 4rem;
  padding: 0 1.5rem;

  color: black;
  background-color: rgba(255, 255, 255, 0.575);
  backdrop-filter: blur(8px);

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
