.navbar {
  height: var(--navbar-height);
  width: 100%;
  box-sizing: border-box;
  color: black;
  background-color: rgba(255, 255, 255, 0.575);
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: auto;
  right: 0;
  z-index: 1001;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
