.search-bar {
  display: flex;
  align-items: center;
  height: 2.25rem;
  padding: 0 0.4em;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f3f3f3;
  cursor: pointer;
}

.search-bar:hover {
  background-color: #e0e0e0;
}

.search-bar img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 8px;
}

.search-bar span {
  color: black;
  font-size: 0.75rem;
  background-color: white;
  padding: 0.4rem;
  border-radius: 6px;
}
